<?xml version="1.0"?>
<launch>
  <arg name="live_run" default="true"/>
  <!-- Load controller configuration name="base_controller_spawner"-->
  <group if="$(arg live_run)">
    <rosparam command="load" file="$(find atemr_control)/config/controllers.yaml" />
    <node name="base_controller_manager" pkg="controller_manager" type="spawner" ns="/"
        args="joint_state_controller
              base_controller"/>
  </group>
  <group unless="$(arg live_run)">
    <rosparam command="load" file="$(find atemr_control)/config/controllers_sim.yaml" />
  </group>

  <!-- Run sensor fusion -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="2"/>
    <arg name="pkg" value="atemr_localization"/>
    <arg name="file" value="rloc_full.launch"/> <!-- rloc_full -->
  </include>
  
  <!-- Run Velocity Mux -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux_auto" respawn="true">
    <rosparam command="load" file="$(find atemr_control)/config/twist_mux_auto.yaml" />
    <remap from="cmd_vel_out" to="tmux/cmd_vel"/>
  </node>
  <node pkg="twist_mux" type="twist_mux" name="twist_mux_manual" respawn="true">
    <rosparam command="load" file="$(find atemr_control)/config/twist_mux_manual.yaml" />
    <remap from="cmd_vel_out" to="tmux/cmd_vel"/>
  </node>

  <!-- Run Speed Ramp -->
  <node pkg="atemr_control" type="speed_ramp.py" name="speed_ramp_node" respawn="true" output="screen">
    <param name="angular_scale" value="1.0"/> <!-- 100% -->
    <param name="linear_scale" value="1.0"/> <!-- 100% -->
    <param name="angular_accel" value="2.0"/>
    <param name="linear_accel" value="2.85"/>
    <param name="obstacle_stop_distance" value="0.28"/>
    <param name="obstacle_slow_distance" value="0.56"/>
    <param name="approach_linear_velocity" value="0.35"/>
    <param name="approach_angular_velocity" value="1.6"/>
    <param name="time_to_idle" value="8.0"/>
  </node>

  <!--arg name="joy_dev" default="/dev/input/js0" />
  <rosparam command="load" file="$(find atemr_control)/config/teleop.yaml" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
    <remap from="joy_teleop/cmd_vel" to="cmd_vel"/>
  </node-->

</launch>
