<?xml version="1.0"?>
<launch>
  <arg name="domain" default="$(optenv ROBOT_DOMAIN_CONFIG atemr)"/>
  <arg name="vel_topic" default="$(arg domain)/cmd_vel"/>

  <!--node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_kb_node" output="screen"-->
    <!--remap from="cmd_vel" to="$(arg vel_topic)" /-->
    <!--param name="key_timeout" value="0.5"/>
  </node-->

  <node pkg="atemr_control" type="key_publisher.py" name="keyboard" output="screen"/>
  <node pkg="atemr_control" type="keys_to_twist_ramped_vel.py" name="keyboard_translator" output="screen">
    <param name="angular_scale" value="0.5"/>
    <param name="linear_scale" value="0.8"/>
    <param name="angular_accel" value="0.25"/>
    <param name="linear_accel" value="0.35"/>
    <remap from="cmd_vel" to="keyboard/cmd_vel" />
  </node>
</launch>
